<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <script>
            const ROOM_ID = "{{roomId}}"
        </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <script src="/js/script.js" defer></script>
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>

    <div class="wrapper">
        <div class="header">
            <h3 id="roomh1"></h3>
            
            <div class="popup" onclick="myFunction()">
                <button class="cpyBtn" onclick="copy()"><i class="fas fa-copy"></i></button>
                <span class="popuptext" id="myPopup">Copied!</span>
            </div>
        </div>
        <div class="imgContainer"></div>
    </div>
    <script src="https://kit.fontawesome.com/85404227e2.js" crossorigin="anonymous"></script>

</body>
</html>